a.skip-to-content-link {
  display: none;
}
.hdt-section__main-password {
  position: relative;
  display: flex;
  min-height: 100vh;
}
@supports (min-height: 100svh) {
  .hdt-section__main-password {
    min-height: 100svh;
  }
}
.hdt-container-full--pw {
  position: relative;
  z-index: 1;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
}
.hdt-pw-part--top {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  padding-block: 2.6rem 1.1rem;
}
.hdt-pw-part--mid {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  animation: pWFadeInLeft 0.3s linear;
  &:has(~ hdt-modal .hdt-modal--pw[open]) {
    animation: pwFadeOutRight 0.3s linear both;
  }
}
.hdt-pw-part--bottom {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-block: 2.9rem;
}
.hdt-pw-logo {
  max-width: var(--logo-width, 30rem);
}
.hdt-btn--modal-pw {
  grid-area: 2 / 1;
  place-self: center;
  grid-template-columns: auto 1fr;
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  .hdt-btn--modal-pw-icon {
    width: 4rem;
    height: 4rem;
    display: inline-grid;
    place-content: center;
    border: 1px solid currentColor;
    border-radius: 50%;
    background: rgb(var(--color-background-rgb) / 30%);
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
  }
  &:hover {
    .hdt-btn--modal-pw-icon {
      background: rgb(var(--color-text-rgb) / 10%);
      border-color: rgb(var(--color-text-rgb) / 10%);
    }
  }
}

.hdt-container-full--pw .hdt-pw-signup {
  width: min(66rem, 100%);
  padding: 2.5rem 1.5rem;
  background: rgb(var(--color-background-rgb) / 30%);
  border: 1px solid rgb(var(--color-text-rgb) / 30%);
  -webkit-backdrop-filter: blur(70px);
  backdrop-filter: blur(70px);
  > * {
    width: 100%;
    margin-inline: auto;
    max-width: 45rem;
  }
  .hdt-pw-countdown-wrap {
    max-width: 100%;
  }
}
.hdt-pw-signup > *:last-child {
  margin-bottom: 0;
}
.hdt-pw-power-by {
  display: inline-flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  svg {
    flex: none;
  }
}
.hdt-pw-ask-owner {
  place-self: center;
  text-align: center;
  a {
    color: inherit;
    font-size: inherit;
    text-transform: inherit;
  }
  .hdt-icon-graphic {
    stroke: currentColor;
  }
}

.hdt-login-pw {
  flex: none;
}
.hdt-modal--pw {
  width: min(66rem, 100%);
  overflow: visible;
  background: none;
  padding: 0;
  .hdt-row-grid {
    row-gap: 1.2rem;
  }
  .hdt-modal-inner {
    width: 100%;
    background: rgb(var(--color-background-rgb) / 30%);
    border: 1px solid rgb(var(--color-text-rgb) / 30%);
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    padding: 2.5rem 1.5rem;
  }
  .hdt-modal__header {
    justify-content: center;
    padding: 0;
    border: none;
  }
  .hdt-modal__inner{
    padding: 2.5rem 0 0;
  }
  button[ref="closeButton"] {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--color-foreground);
    border-radius: 50%;
    padding: .5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: -7.5rem;
    inset-inline-start: 50%;
    margin-inline-start: -2rem;
    backdrop-filter: blur(70px);
    svg {
      transition: transform 0.3s linear;
    }
    &:hover svg {
      transform: rotate(-90deg);
    }
  }
  .hdt-form-row:last-child {
    margin-bottom: 0;
  }
}
.hdt-pw-cd-title {
  margin-bottom: 2rem;
}
.hdt-pw-countdown-wrap {
  display: block;
  place-content: center;
  margin-bottom: 2rem;
  .hdt-pw-countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  hdt-countdown-item {
    background: rgb(var(--color-text-rgb) / 0.4);
    border: 1px solid rgb(var(--color-text-rgb) / 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: var(--rounded-sm);
    font-weight: var(--font-medium);
    gap: 0;
    padding: 1rem;
    .hdt-countdown-timer-numbers {
      font-size: calc(var(--h2-size-xl) * 0.625);
    }
  }
}
.hdt-pw-newsletter-form, .hdt-login-pw {
  --input-background: color-mix(in srgb, var(--color-foreground), transparent 80%);
  .hdt-field--input-btn-group{
    overflow: hidden;
    --max-w-btn: 15rem;
  }
}
.hdt-pw-countdown-wrap:has(> .hdt-cd--complete.hdt-pw-countdown--hide_cd_show_mess) {
  margin-bottom: 0 !important;
}
*:has(+ .hdt-pw-countdown-wrap:not([hidden]) > .hdt-cd--complete.hdt-pw-countdown--hide_cd_show_mess) {
  margin-bottom: 0 !important;
}
.hdt-countdown-mess {
  margin-block: 2rem;
}
.hdt-pw-signup > .hdt-pw-countdown-wrap:first-child .hdt-countdown-mess {
  margin-top: 0;
}
.hdt-pw-signup > .hdt-pw-countdown-wrap:last-child .hdt-countdown-mess {
  margin-bottom: 0;
}
.hdt-pw-countdown {
  --gap-cd: .8rem;
  &.hdt-cd--complete:not(.hdt-pw-countdown--zero) {
    display: none;
  }
}
.hdt-pw-countdown-wrap .hdt-countdown-timer-numbers:after {
  background-color: currentColor;
}
.hdt-pw-newsletter {
  margin-bottom: 2rem;
  .hdt-row-grid{row-gap: 0.45rem;}
}
.hdt-form--move-text .hdt-field--input-btn-group {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  padding: 0.6rem;
  column-gap: 0.5rem;
  row-gap: 0;
  border: 1px solid var(--color-line-border);
  border-radius: calc(var(--rounded-input) + 0.4rem);
  .hdt-input {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0;
    border-radius: calc(var(--rounded-input) + 0.4rem);
    background: transparent;
    padding-block: 0;
    max-height: calc(var(--height-input) - 1.2rem);
    border: none;
  }
  .hdt-btn {
    grid-area: 1 / 2 / 2 / 3;
    z-index: 1;
    margin: 0rem !important;
    min-height: 100%;
    place-self: center end;
    --rounded-button: var(--rounded-input)
  }
  &.hdt-field--with-error {
    .hdt-form-field__msg {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}
.hdt-pw-signup .hdt-form-row:last-child {
  margin-bottom: 0;
}
.hdt-so-links-wrap {
  display: inline-grid;
  gap: 1.5rem;
  justify-items: center;
}
.hdt-pw-newsletter + .hdt-so-links-wrap { 
  display: grid;
}
.hdt-so-links-wrap--with-text {
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
}
.hdt-social-links-text {
  margin-top: .3rem;
}
.hdt-password__shop-message {
  background: color-mix(in srgb, var(--color-foreground), transparent 88%);
  padding: 1.8rem;
  text-align: start;
  margin-bottom: 2rem;
}

@keyframes pWFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-24px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pwFadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(24px);
  }
}

@media (min-width: 768px) {
  .hdt-container-full--pw {
    padding-inline: 3rem;
  }
  .hdt-pw-part--top {
    grid-template-rows: auto;
  }
  .hdt-pw-part--bottom {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .hdt-modal--pw {
    .hdt-modal-inner {
      padding: 2.5rem 3rem 3rem 3rem;
    }
  }
  .hdt-btn--modal-pw {
    grid-area: 1 / 1;
    place-self: center end;
  }
  .hdt-pw-power-by {
    max-width: calc(100vw / 2 - 4.5rem);
  }
  .hdt-pw-ask-owner {
    max-width: calc(100vw / 2 - 4.5rem);
  }
  .hdt-container-full--pw .hdt-pw-signup {
    padding: 2.5rem 3rem 3rem 3rem;
  }
  .hdt-pw-logo {
    + * {
      margin-top: 4rem;
    }
  }
  .hdt-pw-cd-title {
    margin-bottom: 3.2rem;
  }
  .hdt-pw-countdown-wrap {
    margin-bottom: 3.8rem;
  }
  .hdt-pw-countdown {
    --gap-cd: 1.5rem;
  }
  .hdt-so-links-wrap:has(+ .hdt-social-links-text) {
    justify-items: end;
  }
  .hdt-social-links-text {
    justify-self: end;
  }
  .hdt-so-links-wrap--with-text {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
  .hdt-pw-countdown-wrap {
    hdt-countdown-item {
      padding: 1.5rem 1rem;
      min-width: 10.1rem;
      height: 10.6rem;
      .hdt-countdown-timer-numbers {
        font-size: var(--h2-size-xl);
      }
    }
  }
}
@media (min-width: 1024px) {
  .hdt-container-full--pw {
    padding-inline: 5rem;
  }
  .hdt-modal--pw {
    .hdt-modal-inner {
      padding: 3.5rem 10.3rem 3.8rem 10.3rem;
    }
  }
  .hdt-container-full--pw .hdt-pw-signup {
    padding: 3.5rem 5rem 3.8rem 5rem;
  }
  .hdt-pw-countdown-wrap hdt-countdown-item {
    gap: .5rem;
  }
  .hdt-pw-logo {
    + * {
      margin-top: 6rem;
    }
  }
}
@media (min-width: 1150px) {
  .hdt-container-full--pw {
    padding-inline: 9rem;
  }
  .hdt-pw-part--top {
    padding-block: min(5vh, 6rem);
  }
  .hdt-pw-part--bottom {
    padding-block: min(5vh, 6.5rem);
  }
  .hdt-container-full--pw .hdt-pw-logo {
    --h5-size-lg: 2.8rem;
  }
}
